<mat-spinner *ngIf="question === undefined" diameter="50"></mat-spinner>
<div *ngIf="question && question.questionID !== -1">
    <h1>{{question.questionText}}</h1>
    <mat-radio-group *ngIf="question.mutuallyExclusive" class="flex flex-col">
        <mat-radio-button disableRipple class="py-1" *ngFor="let option of question.tagOptions" value="{{option.tagID}}"
            (change)="radioChanged($event)" [checked]="isTagChecked(option.tagID)">
            {{option.optionText}}</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="!question.mutuallyExclusive" class="flex flex-col">
        <mat-checkbox disableRipple class="py-1" *ngFor="let option of question.tagOptions" value="{{option.tagID}}"
            (change)="checkboxChanged(option.tagID)($event)" [checked]="isTagChecked(option.tagID)">
            {{option.optionText}}</mat-checkbox>
    </div>
</div>
<div *ngIf="question === null" class="flex flex-col">
    <div class="my-36 flex justify-center">
        <mat-icon class="complete-icon">check_circle</mat-icon>
    </div>
    <h1>All questions answered!</h1>
    <h2>Review the tags and submit, or go back and change your answers</h2>
</div>