<!-- Outer div necessary to keep everything nicely vertically aligned -->
<div class="h-full flex flex-col">
    <div id="image-viewer-root" class="w-full h-full fixed" *ngIf="viewingFileID != undefined">
        <button mat-icon-button disableRipple class="viewer-button absolute right-2 top-2" (click)="viewClose()">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-icon-button disableRipple class="viewer-button absolute left-2 top-2"
            (click)="viewerInfoOpen = !viewerInfoOpen">
            <mat-icon color="{{ viewerInfoOpen ? 'accent' : '' }}">info</mat-icon>
        </button>
        <button mat-icon-button disableRipple class="viewer-button absolute left-16 top-2"
            (click)="apiServer.downloadFileContents(viewingFileID)">
            <mat-icon>download</mat-icon>
        </button>
        <div id="info-bar" [class.viewer-open]="viewerInfoOpen" class="fixed w-full text-white">
            <div class="relative left-28 p-3 flex flex-col">
                <h1>{{ viewingFileID }}</h1>
                <h2>TODO: add more info here, like tags and stuff!</h2>
            </div>
        </div>
        <app-fileviewer class="w-full h-full text-white" [fileID]="viewingFileID ? viewingFileID : ''">
        </app-fileviewer>
    </div>
    <app-toolbar class="flex-0" (onTagClick)="router.navigate(['/tag'])" [currentMode]="'Searching'"></app-toolbar>
    <mat-sidenav-container class="flex-grow" disableClose>
        <mat-sidenav opened="true" mode="side" class="min-w-fit w-fit p-3">
            <app-searchinput (queryChanged)="navigateToQuery($event)" [query]="query"></app-searchinput>
            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content class="p-3">
            <h1>Results</h1>
            <mat-spinner *ngIf="searchResult === undefined" diameter="50"></mat-spinner>
            <h2 *ngIf="searchError === undefined && searchResult !== undefined && searchResult.length == 0">
                No results
            </h2>
            <h2 *ngIf="searchError !== undefined">
                Failed to get results: <code>{{ searchError }}</code>
            </h2>
            <mat-grid-list *ngIf="searchResult != undefined" cols="4" rowHeight="256">
                <mat-grid-tile *ngFor="let file of searchResult">
                    <img class="h-full max-h-72 m-0 object-scale-down hover:scale-95 transition-all cursor-pointer"
                        [src]="apiServer.getFileThumbAddress(file.id)" (click)="viewFile(file.id)" />
                </mat-grid-tile>
            </mat-grid-list>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>