.tags-cols
    .tag-col
        min-width: 275px
        padding-bottom: 24px
        border-right: 1.5px
        border-bottom: 1.5px
        border-color: #ddd
        border-style: solid
        &:last-of-type
            border-right: 0px
